header{
  height:5vh;
  width:5vh;
  background-color: transparent;

}

body{
  justify-content: center;
  background-image: url('../z12.jpg');
  background-attachment: fixed;
  background-size: cover;
}

li {
    color: #888888;
    list-style-type: none;
    white-space: nowrap;
}

ul{
	float:left;
	list-style-type: none;
	margin-left: 75px;
    white-space: nowrap;
}

ul li{
		display: inline;
}

ul li a{
	text-decoration: none;
	color:#fff;
	padding: 3px 13px;
	border: 0.2px solid #fff;
	transition: 1s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

input[type=text]:focus {
  width: 40%;
  opacity: 90%;
  ;
}

.greeting{
position: center;
color:white;
font-family:Arial, Helvetica, sans-serif;
-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
-moz-animation: fadein 2s; /* Firefox < 16 */
 -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
     animation: fadein 2s;
}

.clock {
	width:90%;
	position: relative;
  display: block;
	font-size: 6vw;
	color: whitesmoke;
	text-align: center;
	font-family:Arial, Helvetica, sans-serif;
	margin-right: 50%;
	margin-top: 10%;
  margin-left: 4%;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
